@model ModeloMultiple

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

@if (TempData["Exito"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Exito"]
    </div>
}

<style>
    .btnfiltro{
        width:150px;
    }
</style>

@*filtros*@
<div class="d-flex mb-3 mt-3">
    <form asp-action="FiltroGradoEscolar" class="d-flex me-3">

        <label class="form-label fs-5 fw-bold me-1">
            Grado escolar

        </label>

        <select class="btnfiltro form-select" name="gradoEscolar">
            <option></option>
            <option>Primaria</option>
            <option>Secundario</option>
            <option>Bachillerato</option>
            <option>Licenciatura</option>
        </select>

        <button type="submit" class="btn btnfiltro btn-primary ms-2">Buscar</button>
    </form>

    <form asp-action="FiltroNivelEducativo" class="d-flex me-3">

        <label class="form-label fs-5 fw-bold me-1">Nivel educativo</label>

        <select class="btnfiltro form-select" name="nivelEducativo">
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>Año</option>
            <option>Semestre</option>
            <option>Cuatrimestre</option>
        </select>

        <button type="submit" class="btn btnfiltro btn-primary ms-2">Buscar</button>
    </form>

    <a class="btn btn-primary" asp-action="AlumnosSeguimiento">Eliminar filtros</a>
</div>

<div class="container d-flex flex-wrap justify-content-center">
    @foreach (var alumno in Model.IEnumerableAlumnos)
    {
        <div class="d-flex flex-column border border-success">
            <div class="d-flex flex-row mb-2 bg-light p-1">
                <h3 class="fw-bold text-black me-3">Resumen</h3>
                <a asp-action="EditarAlumno" asp-route-IdAlumno="@alumno.IdAlumno" class="btn btn-primary ms-4">Editar información</a>
            </div>

            <div class="d-flex">
                @*datos alumno*@
                <section class="d-flex align-items-center flex-column bg-light p-1">
                    <div>
                        <h4>Datos alumno</h4>
                    </div>

                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="100" height="100" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="12" cy="12" r="9" />
                            <circle cx="12" cy="10" r="3" />
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                        </svg>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Nombre</h5>
                            <h5 class="text-end">@alumno.NombreAlumno @alumno.ApellidoPaternoAlumno @alumno.ApellidoMaternoAlumno</h5>
                        </div>

                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Matricula</h5>
                            <h5 class="text-end">@alumno.Matricula</h5>
                        </div>

                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Curp</h5>
                            <h5 class="text-end">@alumno.Curp</h5>
                        </div>

                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Estatus</h5>
                            <h5 class="text-end">@alumno.Estatus</h5>
                        </div>

                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Grado Escolar</h5>
                            <h5 class="text-end">@alumno.GradoEscolar</h5>
                        </div>

                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Nivel Educativo</h5>
                            <h5 class="text-end">@alumno.NivelEducativo</h5>
                        </div>

                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Fecha de Ingreso</h5>
                            <h5 class="text-end">@alumno.FechaIngreso.ToString("dd/MMMM/yyyy")</h5>
                        </div>

                        <div class="d-flex">
                            <h5 class="fw-bold me-5">Fecha de Baja</h5>
                            <h5 class="text-end">@alumno.FechaBaja</h5>
                        </div>
                    </div>
                </section>

                @*datos contacto*@
                <section class="d-flex align-items-center flex-column ms-2 p-1 bg-light">
                    <div class="mb-1">
                        <h4>Datos de contacto</h4>
                    </div>

                    <div>
                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Nombre</h5>
                            <h5>@alumno.NombreContacto @alumno.ApellidoPaternoContacto @alumno.ApellidoMaternoContacto</h5>
                        </div>

                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Telefono</h5>
                            <h5>@alumno.Telefono</h5>
                        </div>

                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Calle</h5>
                            <h5>@alumno.Calle</h5>
                        </div>

                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Colonia</h5>
                            <h5>@alumno.Colonia</h5>
                        </div>

                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Numero exterior</h5>
                            <h5>@alumno.NumeroExterior</h5>
                        </div>

                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Numero interior</h5>
                            <h5>@alumno.NumeroInterior</h5>
                        </div>

                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Codigo postal</h5>
                            <h5>@alumno.CodigoPostal</h5>
                        </div>

                        <div class="d-flex d-inline-block">
                            <h5 class="fw-bold me-5">Estado</h5>
                            <h5>@alumno.Estado</h5>
                        </div>
                    </div>

                    <div class="d-flex mt-5 w-100">
                        <h3 class="text-start">@alumno.Parentesco</h3>
                    </div>
                </section>
            </div>
        </div>
    }
</div>
